$gray : #d3d3d3;

div.alarm {
  display: none;
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
}


div.clock {
  background-color: red;
  div.row {
    div.col-sm-6 {
      font-size: 5rem;
    }
  }
}
